/*font-family: 'Fira Sans', sans-serif;
font-family: 'Trocchi', serif;*/
body {
    font-family: 'Roboto', sans-serif;
    color: #1f2844;
    font-size: 18px; }
h1 {
    font-size: 80px;
    line-height: 80px;
    margin: 0; }
h2 {
    font-size: 60px;
    line-height: 80px;
    margin: 0 0 .4em; }
h3 {
    font-size: 48px;
    margin: 0 0 25px; }
h4 {
    font-size: 36px;
    letter-spacing: .2em;
    margin: 0 0 1em; x}
h5 {
    font-size: 24px;
    line-height: 36px;
    margin: 0 0 1em; }
h1,
h2,
h3,
h4,
h5 {
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: .2em; }
p {
    font-size: 18px;
    line-height: 36px;
    letter-spacing: .075em;
    margin: 0 0 .5em; }
p.small {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: .05em; }
h2:last-child,
p:last-child {
    margin-bottom: 0; }
img { vertical-align: bottom; }
section {
    display: table;
    width: 100%;
    overflow: visible;
    background-size: cover;
    background-position: center; }
header nav {
    position: absolute;
    z-index: 9999;
    width: 100%; }
    header a.logo {
        color: #FFF;
        font-size: 24px;
        letter-spacing: .2em; }
        header a.logo i {
            font-size: 18px; }
    header nav ul li a {
        color: #FFF;
        font-size: 12px;
        letter-spacing: .2em;
        text-transform: uppercase; }
    header .slider {
        min-height: 100vh;
        height: 100%;
        display: flex;
        align-items: center;
        background-size: cover;
        background-position: center; }
.golden {
    color: #BD814B;
    letter-spacing: .05em; }
.widen {
    letter-spacing: .2em; }
.line-list,
.dot-list,
.bar-list {
    list-style: none;
    padding-left: 30px;
    overflow: visible; }
    .line-list li,
    .dot-list li {
        font-size: 16px;
        line-height: 30px;
        letter-spacing: .05em;
        overflow: visible; }
        .line-list.white li,
        .bar-list.white li {
            color: #FFF; }
            .line-list li:not(:last-child),
            .dot-list li:not(:last-child),
            .bar-list li:not(:last-child) {
                margin-bottom: 40px; }
            .line-list li:before {
                content: '';
                background: #000;
                height: 1px;
                top: .8em;
                left: -30px;
                width: 15px;
                position: absolute;
                transform: translateY(-50%); }
                .line-list.white li:before {
                    background: #FFF; }
.line-list.people li {
    font-size: 18px;
    line-height: 36px;
    margin-bottom: 22px;
}
.line-list.people li::before {
    top: .9em; }
footer {
    background-image: url('img/footer-bg.jpg');
    background-size: cover;
    color: #FFF;
    padding: 120px 0; }
    footer .footer-logo {
        font-size: 72px;
        letter-spacing: .2em;
        margin-bottom: 1em; }
    footer ul {
        margin: 0;
        padding: 0;
        list-style: none; }
        footer ul li {
            display: block;
            width: 100%; }
            footer ul li span {
                font-size: 12px;
                line-height: 24px;
                color: #8B8B8B; }
                footer p,
                footer ul li a {
                    font-size: 12px;
                    line-height: 24px;
                    letter-spacing: .2em;
                    color: #FFF;
                    text-transform: uppercase; }
                footer .col:last-child ul li a {
                    text-transform: none; }
    footer .copyright {
        margin-top: 2em;
        font-size: 12px;
        letter-spacing: .2em;
        opacity: .5; }
